[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
transformers = "*"
langid = "*"
openai = "*"
pydub = "*"
requests = "*"
flask-cors = "*"
python-dotenv = "*"
whisper = "*"
jinja2 = "*"
vertexai = "*"
google-cloud-translate = "*"
ffmpeg-python = "*"
gunicorn = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.12"
